@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


body {
    font-family: 'Titillium Web', sans-serif;
    color: #444;
    margin: 0;
    padding: 0;
    height:100%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/biblorock.appspot.com/o/IMG_7659-2.JPG?alt=media&token=5a6bf5f1-3294-4e5a-ac53-2f7fe6e9275d");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
}

h1{
   font-size: 700%;
}

#transparent{
    height:100vh;
}

#title1{
    margin: -9rem 0px 0px 0px;
    text-align:center;
    color: white !important;
}

.afiche{
    width: 90%;
    align:center;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

#posters-section{
    background-color: #dcd3b7;
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
    margin-top: -30px;
}

.cuadro{
    width: 60%;
    position: relative;
    left: 20px;
    z-index: 8;
    margin-top: -65%;
    margin-left: 0;
}

#welcome-square-content{
   color: white;
   z-index: 10;
   position: relative;
   margin-top: -490px;
   left: 20px;
   width: 60%;
   padding: 50px;
}

#welcome-square-content button{
   width: 100%;
   height: 50px;
   background: none;
   border: solid 5px white;
   border-radius: 0px;
}

#welcome-square-content button:hover{
   background: white;
   color: black
   border: solid 5px black;
}

#welcome-square-content button:focus{
   color: white;
}

#posters-section img {
   -webkit-transition: all .3s ease;
  	-moz-transition: all .3s ease;
  	-o-transition: all .3s ease;
  	-ms-transition: all .3s ease;
  	transition: all .3s ease;
}

#posters-section img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.10);
    -moz-transform:scale(1.10);
    -ms-transform:scale(1.10);
    -o-transform:translatZ(0) scale(1.10);
    transform:translatZ(0) scale(1.10);
}
